/* display none */
.dsk_only,
.search_wrap,
.banner_wrap,
.header_left .site_group{
  display: none;
}
.h_nav {
  display: none;
}
.sch_btn{
  display: none;
}
header {
  position: fixed;
  height: 6.3rem;
  padding: 2rem 2rem 0;
  /* background-color: #fff; */
  width: 100%;
  z-index: 3;
  transition:all .3s ease-in-out
}

header .rel {
  transform: translateY(0);
  display: flex;
  justify-content: space-between;
}

.header_tit a {
  display: block;
  position: relative;
  width: 8rem;
}

.header_logo {
  position: absolute;
}

.header_logo.white {
  opacity: 1;
}

.header_logo.black {
  opacity: 0;
}

.mob_btn {
  display: block;
  width: 2.8rem;
  height: 1.8rem;
  position: relative;
}

.mob_btn span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(255, 255, 255);
  text-indent: -9999px;
  color: transparent;
  font-size: 0;
  position: absolute;
  transition: all 0.3s;
}

.mob_btn span:nth-child(1) {
  top: 0;
}

.mob_btn span:nth-child(2) {
  top: 0.8rem;
}

.mob_btn span:nth-child(3) {
  top: 1.6rem;
}

/* .scrolling */
.scrolling header {
  background-color: rgba(255, 255, 255, 0.688);
  border-bottom: 0.1rem solid #fff;
}

.scrolling .header_logo.black {
  opacity: 1;
}

.scrolling .header_logo.white {
  opacity: 0;
}

.scrolling .mob_btn span {
  background-color: #000;
}

/* subNav */
.subNav {
  position: fixed;
  top: 6.3rem;
  width: 100%;
  height: 100vh;
  background-color: #303030;
  right: -110%;
  /* right: 0%; */
  color: #fff;
  transition: right 0.3s ease-in-out;

}

.subNav .inner {
  background-color: #fff;
  color: #000;
  padding: 2rem;
}

.sub_menu .sub_tit {
  display: none;
}

.sub_menu .depth1>li {
  padding: 1.5rem 0
}
.sub_menu .depth1>li.active >span::after{
  transform: rotate(0deg);

}


.sub_menu .depth1>li>span {
  display: block;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;

}

.sub_menu .depth1>li>span::before,
.sub_menu .depth1>li>span::after {
  display: block;
  content: "";
  width: 1.3rem;
  height: .1rem;
  background-color: rgb(138, 138, 138);
  position: absolute;
  right: 0;
  top: 49%;
  transition: all .3s ease-in-out;
}

.sub_menu .depth1>li>span::after {
  transform: rotate(90deg);
}

.sub_menu .depth2 {

  background-color: #f6f6f6;
  display: none;
  padding: 1.5rem;
  font-weight: 700;
}

.sub_menu .depth2>li {
  font-size: 1.4rem;
  color: #646464;
  line-height: 1.6;
}

.sub_menu .depth3 {
  list-style-type: circle;
  padding: .5rem 0 1rem 3rem
}
.sub_menu .depth3 li{
  font-weight: 500;
}
.subNav .site_group {
  margin:2rem 0 0 2rem
}
/* mobile navigation open */
.mOpen .subNav {
  right: 0;
}

.mOpen header {
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid #efefef;
}

.mOpen .header_logo.black {
  opacity: 1;
}

.mOpen .header_logo.white {
  opacity: 0;
}

.mOpen .mob_btn span {
  background-color: #000;
}

.mOpen .mob_btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 0.8rem;
}

.mOpen .mob_btn span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.mOpen .mob_btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 0.8rem;
}

/* 0 */
#section0 {
  background: url(../img/visu.png) no-repeat 80% top/cover;
  height: 100vh;
  padding: 0;
}

#section0 .tit_wrap {
  position: absolute;
  bottom: 14rem;
  left: 2rem;
}

.tit_logo {
  width: 15.3rem;
}

#section0 p.txt1 {
  margin: 2.8rem 0;
  color: #fff;
}

#section0 h2.tit {
  color: #fff;
  font-size: 3.8rem;
}

.scroll {
  position: absolute;
  left: calc(50% - 1.1rem);
  bottom: 5rem;
  width: 2.2rem;
  height: 4.6rem;
  background: url(../img/icon_scroll.svg) no-repeat center;
  text-indent: -9999px;
  animation: scroll 1.5s 2.2s infinite ease-in-out;
  opacity: 0;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.7rem);
  }

  100% {
    transform: translateY(0);
  }
}

#section0 .tit_wrap>* {
  opacity: 0;
}

/* 1 */
.s1_list {
  text-align: center;
  margin-top: 8rem;
}

.s1_list li+li {
  margin-top: 5rem;
}

.data_icon {
  box-shadow: 0 0.4rem 4rem rgba(134, 134, 134, 0.2);
  width: 16rem;
  display: inline-block;
  padding: 4rem;
  border-radius: 3rem;
  height: 16rem;
}

.data_txt .sub {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.data_txt .num {
  color: #0cbc8b;
  font-size: 2rem;
  font-weight: 700;
  line-height: 6.4rem;
}

.data_txt .count {
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: -0.3rem;
}

.sub_txt_wrap {
  margin-top: 8rem;
  font-size: 2.3rem;
  color: #303030;
  opacity: 0;
}

.sub_txt_wrap .year {
  display: inline-block;
  box-shadow: 0 0.4rem 3rem rgba(203, 209, 220, 0.4);
  padding: 0 0.8rem;
  font-size: 2.7rem;
  border-radius: 1.2rem;
}

/* s1 animation */
#section1 h2.tit {
  opacity: 0;
}

.s1_list li {
  opacity: 0;
}

/* 2 */
#section2 {
  background-color: #f7f7f7;
}

.s2_list {
  margin-top: 4.5rem;
}

.s2_card {
  background-color: #fff;
  border-radius: 2.8rem;
  overflow: hidden;
  position: relative;
  min-height: 31.6rem;
  padding: 2.5rem 0 0 2.5rem;
  margin-top: 4.5rem;
  opacity: 0;
}

.cardImg {
  position: absolute;
  width: 18rem;
  bottom: -1rem;
  right: calc(50% - 18rem);
}

.card_tit {
  font-size: 2.6rem;
  font-weight: 900;
}

.card_txt {
  margin-top: 1.7rem;
  font-size: 1.4rem;
}

/* s2 animation*/
#section2 .tit_wrap>* {
  opacity: 0;
}

/* 3 */

.s3_slide {
  width: 23rem;
  margin: 5rem auto;
}

.s3_slide .row {
  position: relative;
}

.s3_slide .row+.row {
  border-top: 0.1rem solid #eee;
  margin-top: 2rem;
  padding-top: 2rem;
}

.s3_slide .row_inner {
  position: relative;
  min-height: 9rem;
}

.s3_slide .row_inner img {
  position: absolute;
  opacity: 0;
}

.s3_slide .row_inner img.active {
  opacity: 1;
}

.s3_slide .arrow {
  position: absolute;
  width: 0;
  height: 0;
  /* background-color: #0cbc8b; */
  top: 50%;
  text-indent: -9999px;
}

.s3_slide .arrow.left {
  left: -1rem;
  border-style: solid;
  border-width: 0.5rem 0.6rem 0.5rem 0;
  border-color: transparent #b9b9b9 transparent transparent;
}

.s3_slide .arrow.right {
  right: -1rem;
  border-style: solid;
  border-width: 0.5rem 0 0.6rem 0.5rem;
  border-color: transparent transparent transparent #b9b9b9;
}

.s3_con_box {
  background-color: #ffde03;
  min-height: 42.3rem;
  text-align: center;
  border-radius: 3rem;
  padding: 5rem 2rem;
  position: relative;
  overflow: hidden;
}

.con_tit {
  font-size: 3rem;
  line-height: 3.4rem;
  margin-bottom: 5rem;
  font-weight: 400;
}

.con_tit b {
  font-weight: 900;
}

.con_txt {
  font-size: 1.6rem;
  opacity: 0.7;
  margin-bottom: 5rem;
}

.s3_con_box a.con_btn {
  background: #fff url(../img/icon_golink_l.svg) no-repeat right 3rem center;
  color: #000;
  margin: auto;
  display: inline-flex;
  padding: 1.4rem 5.7rem 1.4rem 3rem;
}

@keyframes s3_ani1 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes s3_ani2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
  }
}

.s3_con_box::before,
.s3_con_box::after {
  content: "";
  display: block;
  width: 60rem;
  height: 100%;
  position: absolute;
}

.s3_con_box::before {
  background: url(../img/d3_bg_1.png) no-repeat left bottom/contain;
  left: -12rem;
  top: 0;
  animation: s3_ani1 3.5s infinite ease-in-out;
}

.s3_con_box::after {
  background: url(../img/d3_bg_2.png) no-repeat right bottom/contain;
  right: -12rem;
  bottom: 0;
  animation: s3_ani2 3.5s infinite ease-in-out;
}

#section3 .rel>* {
  opacity: 0;
}

/* 4 */
#section4 {
  padding-bottom: 30rem;
}

#section4 .img_wrap {
  width: 32rem;
  height: 35.3rem;
  /* background-color: #b9b9b9; */
}

#section4 .img_wrap .deco1 {
  background-image: url(../img/d4_ico_1.png);
}

#section4 .img_wrap .deco2 {
  background-image: url(../img/d4_ico_2.png);
}

#section4 .img_wrap .deco3 {
  background-image: url(../img/d4_ico_3.png);
}

#section4 .img_wrap .deco4 {
  background-image: url(../img/d4_ico_4.png);
}

#section4 a.con_btn {
  position: absolute;
  bottom: -13rem;
  left: calc(50% - 8rem);
}

#section4 .img_wrap>.deco,
#section4 .tit_wrap>* {
  opacity: 0;
}

/* 5 */
#section5 {
  padding-top: 17rem;
  padding-bottom: 18rem;
  overflow-x: hidden;
}

#section5 .img_wrap {
  width: 26.2rem;
  height: 28.8rem;
  transform: translateX(-1rem);
  margin-top: 6rem;
}

#section5 .img_wrap .deco1 {
  background-image: url(../img/d5_ico_1.png);
}

#section5 .img_wrap .deco2 {
  background-image: url(../img/d5_ico_2.png);
}

#section5 .img_wrap .deco3 {
  background-image: url(../img/d5_ico_3.png);
}

#section5 .img_wrap .deco4 {
  background-image: url(../img/d5_ico_4.png);
}

/* 수정 */
#section5 .img_wrap::before {
  display: block;
  content: "";
  height: 2.8rem;
  width: 300%;
  left: -100%;
  background-color: #f7f7f7;
  position: absolute;
  z-index: 2;
  bottom: 1.8rem;
}

/* 추가 */
#section5 .img_wrap::after {
  display: block;
  content: "";
  height: 2.8rem;
  width: 300%;
  left: -100%;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  bottom: -1.2rem;
}

/* 수정 */
#section5 a.con_btn {
  position: absolute;
  bottom: -13rem;
  left: calc(50% - 8rem);
}

#section5 .img_wrap>.deco,
#section5 .tit_wrap>* {
  opacity: 0;
}

/* 6 */
#section6 {
  padding-top: 12rem;
  padding-bottom: 20rem;
  overflow-x: hidden;

}

#section6 .rel {
  z-index: 2;
}

#section6 .img_wrap {
  width: 24.4rem;
  height: 31rem;
  transform: translateX(-1rem);
  margin-top: 5rem;
}

#section6 .img_wrap .bg {
  background-image: url(../img/d6_bg.png);
}

#section6 .img_wrap .deco1 {
  background-image: url(../img/d6_ico_1.png);
}

#section6 .img_wrap .deco2 {
  background-image: url(../img/d6_ico_2.png);
}

#section6 .img_wrap .deco3 {
  background-image: url(../img/d6_ico_3.png);
}

#section6 .img_wrap .deco4 {
  background-image: url(../img/d6_ico_4.png);
}

#section6 .img_wrap .deco5 {
  background-image: url(../img/d6_ico_5.png);
}

#section6 .img_wrap .deco6 {
  background-image: url(../img/d6_ico_6.png);
}

#section6 .img_wrap .deco7 {
  background-image: url(../img/d6_ico_7.png);
}

#section6 .img_wrap .deco8 {
  background-image: url(../img/d6_ico_8.png);
}

#section6 .img_wrap .deco9 {
  background-image: url(../img/d6_ico_9.png);
}

#section6 a.con_btn {
  position: absolute;
  bottom: -11rem;
  left: calc(50% - 8rem);
}

#section6:after {
  display: block;
  content: "";
  height: 2.8rem;
  width: 300%;
  left: -100%;
  background-color: #0cbc8b;
  position: absolute;
  z-index: 0;
  top: calc(50% + 18rem);
}

#section6 .img_wrap>.deco,
#section6 .tit_wrap>* {
  opacity: 0;
}

/* 7 */
.s7_list {
  margin-top: 4.5rem;
}

/* 수정 */
.s7_list li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f3f3;
  min-height: 23.3rem;
  max-width: 38rem;
  padding: 2.7rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: auto;
  transform: scale(1);
}

.s7_list li+li {
  margin-top: 1.8rem;
}

.s7_list li a .more {
  align-self: flex-end;
}

.date {
  font-size: 1.2rem;
  color: #595757;
}

.more {
  font-size: 1.5rem;
  color: #474747;
}

.s7_list li a:hover {
  background-color: #0cbc8b;
  color: #fff;
  transform: scale(1.03);
}

.s7_list li a:hover .date,
.s7_list li a:hover .more {
  color: #fff;
}

#section7 .tit_wrap>*,
.s7_list li {
  opacity: 0;
}

/* footer */
footer {
  padding: 4rem;
  background-color: #23241D;
  text-align: center;
}

footer h4 img {
  width: 10rem;
  opacity: .4;
}

.copy {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: .6rem;
}

/* scrollTop_btn */
.scrollTop_btn {
  position: fixed;
  z-index: 5;
  bottom: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  background: #fff url(../img/btn_fixedtop.svg) no-repeat center;
  text-indent: -9999px;
  border-radius: 2.3rem;
  border: .1rem solid #ededed;
  box-shadow: 0 .6rem 3rem rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all .3s ease-in-out;
  transition-delay: .5s;
}

.scrollTop_btn.On {
  opacity: 1;

}